OPENFDA_API_KEY=replace_me
OPENFDA_MAX_PAGES=2

DATABRICKS_HOST=https://your-workspace.cloud.databricks.com
DATABRICKS_TOKEN=replace_me

POSTGRES_USER=replace_me
POSTGRES_PASSWORD=replace_me
POSTGRES_DB=replace_me

AIRFLOW_ADMIN_USER=replace_me
AIRFLOW_ADMIN_PASSWORD=replace_me
AIRFLOW_ADMIN_EMAIL=replace_me@replace.com